global:
  scrape_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'staging'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets: ['http://host.docker.internal:3001']
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115

  - job_name: 'production'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets: ['http://host.docker.internal:3002']
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115